		</main>

		<footer>
			<p>
				<small>
					This page was handmade by James McKee using <code>&lt;\&gt;</code> and <a href="https://simplecss.org">Simple.css</a>, and is currently hosted on Codeberg Pages.<br /><br />
					<a href="https://512kb.club"><img src="/assets/images/green-team.svg" alt="Green team member of the 512kb club" /></a><br /><br />
				</small>
			</p>
		</footer>
	</body>
</html>
